<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Automated Radio Statistics</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><img src="/Icon.png" alt="" width="32" height="32"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-link active" aria-current="page" href="#">Station Info</a>
			<a class="nav-link" href="http://listen.physcorp.com">Listen Live</a>
			<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Schedule</a>
			<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Configuration</a>
			<a class="nav-link" href="http://www.physcorp.com/radio">About</a>
		</div>
		</div>
	</div>
	</nav>

<div class="container">
	<div class="row">
	  <div class="col-sm">
		<h1><span class="badge bg-secondary">Automated Radio Station Info</span></h1>
		<iframe width="560" height="315" src={{EmbedLink}} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<form action="/" method="POST">
	<div class="mb-3">
	  <label for="songsuggestionform" class="form-label">Suggest a YouTube link</label>
	  <input name="videosuggestion" type="text" class="form-control" id="songsuggestionform" aria-describedby="songInfo">
	  <div id="songInfo" class="form-text">Paste the link to a YouTube video to be played on the radio.</div>
	</div>

	<button type="submit" class="btn btn-primary">Suggest Video</button>
	<img src="/frame.png" alt="QR Code">
  </form>
	  </div>
	  <div class="col-sm">
		<h1><span class="badge bg-secondary">Song/Playlist Info</span></h1>

<table class="table">
	<thead>
	  <tr>
		<th scope="col">Song Info</th>
		<th scope="col"></th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<th scope="row">Song Title</th>
		<td>{{SongTitle}}</td>
	  </tr>
	  <tr>
		<th scope="row">Song Link</th>
		<td><a href={{SongLink}}>{{SongLink}}</a></td>
	  </tr>
	</tbody>
  </table>

<table class="table">
	<thead>
	  <tr>
		<th scope="col">Playlist Info</th>
		<th scope="col"></th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<th scope="row">Number of songs played</th>
		<td>{{SongsPlayedNum}}</td>
	  </tr>
	  <tr>
		<th scope="row">Current Playlist</th>
		<td><a href={{PlaylistURL}}>{{PlaylistURL}}</a></td>
	  </tr>
	</tbody>
  </table>

<h1><span class="badge bg-secondary">Chance to Mention Info</span></h1>

<h3>Weather</h3>
<div class="progress">
	<div class="progress-bar" role="progressbar" style="width: {{WeatherDecimal}}%;" aria-valuenow={{WeatherDecimal}} aria-valuemin="0" aria-valuemax="100">{{WeatherDecimal}}%</div>
  </div>

<h3>PSA</h3>
<div class="progress">
	<div class="progress-bar" role="progressbar" style="width: {{PSADecimal}}%;" aria-valuenow={{PSADecimal}} aria-valuemin="0" aria-valuemax="100">{{PSADecimal}}%</div>
  </div>

<h3>Welcome</h3>
<div class="progress">
	<div class="progress-bar" role="progressbar" style="width: {{WelcomeDecimal}}%;" aria-valuenow={{WelcomeDecimal}} aria-valuemin="0" aria-valuemax="100">{{WelcomeDecimal}}%</div>
  </div>

<h3>Weekday</h3>
<div class="progress">
	<div class="progress-bar" role="progressbar" style="width: {{WeekdayDecimal}}%;" aria-valuenow={{WeekdayDecimal}} aria-valuemin="0" aria-valuemax="100">{{WeekdayDecimal}}%</div>
  </div>

<h3>Time</h3>
<div class="progress">
	<div class="progress-bar" role="progressbar" style="width: {{TimeDecimal}}%;" aria-valuenow={{TimeDecimal}} aria-valuemin="0" aria-valuemax="100">{{TimeDecimal}}%</div>
  </div>
	  </div>
	</div>
  </div>

<h1><span class="badge bg-secondary">RadioHost Software Info</span></h1>
<h3>What is it?</h3>
<h51>[This is a fun project for me to better understand Python!] PhysCorp's Automated Radio Station is a new take on auto-DJ services. The station is run entirely by computers. Unlike traditional radio stations that use an auto-DJ, this station serves to include commentary between songs like a live announcer!</h5>

<h3>How does it work?</h3>
<h5>This software is built with Python in Visual Studio Code. The program scrapes a YouTube playlist according to the weekday, using a headless version of Firefox. The program then plays the videos in a random order, taking care to not repeat videos in headless VLC instance. Between songs, the announcer occasionally talks about the weather, the current playlist info, or a PSA. The program connects to several APIs to administer content, such as Openweathermap for weather info, YouTube Data for gathering video info, and Google Cloud Text to Speech for their Wavenet voices</h5>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>